body {
  margin-bottom: 3000px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.left-section {
  display: flex;
  align-items: center;
  width: 150px;
}

.profile-picture {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 8px;
}

.name {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
}

.add-friend-button,
.message-button {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 4px;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
}

.add-friend-button {
  background-color: rgb(30, 150, 230);
  color: white;
  margin-right: 6px;
}